html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 1fr 1fr 1fr;
  grid-template-rows: 20% 1fr 1fr 1fr;
  grid-template-areas: "nav top top top" "nav bottom bottom bottom" "nav bottom bottom bottom" "nav bottom bottom bottom";
}

.left  {
  background-color: #2992d0;
  grid-area: nav;
}

.top  {
  grid-area: top;
  background-color: #fff;
}

.bottom {
  grid-area: bottom;
  background-color: #e1e7ef;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 20px;
  gap: 15px;
}

nav svg {
  width: 30px;
  margin-right: 20px;
  fill: white;
}

nav ul li a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: #fff;
}

a span {
  font-size: 22px;
}

nav ul li:nth-child(6) {
  margin-bottom: 75px;
}

.dashboard {
  display: flex;
  align-items: center;
  padding: 15px;
}

.dashboard span {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
}

.dashboard svg {
  margin-right: 15px;
  width: 40px;
  fill: #fff;
}

.search {
  background-color: #d6c38d;
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  padding: 0;
}

.profile {
  background-color: #82aaff;
  grid-area: profile;
}

.welcome {
  background-color: #f5793e;
  grid-area: welcome;
}

.file {
  background-color: #f94931;
  grid-area: file;
}

.top {
  display: grid;
  grid-template-areas: "search search search profile profile" "welcome welcome welcome file file";
  grid-template-columns: 30% 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 55%;
}

.bar input {
  border: none;
  outline: none;
  width: 500px;
  background-color: #e1e7ef;
  border-radius: 10px;
  padding: 5px;
}

/* MAGNIFYING GLASS ICON */
.glass {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 18px;
  margin-top: 5px;
  padding: 0;
  fill: #fff;
  width: 50px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.glass svg {
  margin-right: 20px;
}

.profile-pic {
  background-color: #f9c937;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.lt1 {
  width: 65%;
  height: 65%;
  fill: #000;
}

.bellicon svg {
  cursor: pointer;
  fill: white;
  width: 30px;
  fill: #000;
  margin-right: 15px;
}

.my-name {
  cursor: pointer;
}
