@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: inherit;
}

@font-face {
  font-family: "NorseBold";
  src: url("fonts/Norsebold.otf");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.left {
  position: relative;
  background-image: url("img/hero.avif");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 50vw;
}

.credit {
  color: #fff;
  position: absolute;
  bottom: 1%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.credit a {
  text-decoration: underline;
  color: inherit;
}

.right {
  height: 100vh;
  width: 50vw;
}

.h1-container {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  color: #fff;
  font-family: NorseBold;
  font-size: 100px;
}

.banner {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 50vw;
  top: 25%;
  padding: 15px 0;
  transform: translateY(-50%);
  height: 18vh;
  background-color: rgba(0, 0, 0, 0.45);
}

.logo {
  height: 100%;
  position: absolute;
  right: 0;
}

.logo-container {
  position: relative;
  width: 50%;
}

.right {
  background-color: #f9fafb;
}

.inspire-quote {
  display: flex;
  height: 33%;
  align-items: center;
  padding: 5%;
  position: relative;
}

.inspire-quote span {
  position: absolute;
  left: 5%;
  bottom: 25%;
}

.fill-in-section {
  height: 35%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.fill-in-section h2 {
  padding-top: 10px;
  padding-left: 20px;
}

.row {
  display: flex;
  gap: 16px;
  height: 25%;
}

form {
  height: 100%;
  display: flex;
}

.field {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

label[for] {
  text-transform: uppercase;
  margin-left: 30px;
  margin-bottom: 5px;
}

input {
  width: 80%;
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 30px;
}

.form-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.create-account {
  position: relative;
  height: 25.8%;
}

.create-account button {
  position: absolute;
  left: 10%;
  top: 15%;
  border: none;
  padding: 15px 75px;
  background-color: #5a6c4b;
  color: #fff;
  font-weight: bolder;
  font-size: 15px;
  border-radius: 10px;
  font-family: inherit;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.create-account p {
  position: absolute;
  top: 45%;
  left: 10%;
}

.create-account p a {
  color: #5a6c4b;
  text-decoration: none;
  font-weight: bolder;
}
